<?xml version="1" ?>
<launch>
    
        <arg name="target_topic_addr" default="10.24.4.77" />
        <arg name="target_topic_port" default="17001" />
        
        
        <arg name="target_service_addr" default="10.24.4.77" />
        <arg name="target_service_port" default="6000" />
        <arg name="local_service_port" default="6000" />

        <!-- The UDP topic recv node -->
        <node name="topic_receiver" pkg="nimbro_topic_transport" type="receiver" output="screen">
        </node>
        
        <!-- The UDP topic send node -->
        <node name="topic_sender" pkg="nimbro_topic_transport" type="sender" output="screen">

                <!-- The destination host name or IP address -->
                <param name="destination_addr" value="$(arg target_topic_addr)" />
                <param name="port" value="$(arg target_topic_port)" />

                <!-- Load the list of topics from a YAML file -->
                <rosparam command="load" file="$(find xbot_centauro_pilot_pc)/config/topics.yaml" />
        </node>
        
        
        <node name="service_tcp_server" pkg="nimbro_service_transport" type="service_server" output="screen">
                <param name="port" value="$(arg local_service_port)" />
        </node>

        <node name="service_udp_client" pkg="nimbro_service_transport" type="service_client" output="screen">
                <param name="server" value="$(arg target_service_addr)" />
                <param name="port" value="$(arg target_service_port)" />
                
                <!-- Load the list of service from a YAML file -->
                <rosparam command="load" file="$(find xbot_centauro_pilot_pc)/config/services.yaml" />
        </node>
        
</launch>